.title {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #0075F2;
    outline: solid rgba(0, 0, 0, 0) 5px;
}
.bannerbox2 {font-size: 100px;
    color: #222222;
    font-style: oblique;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
background-color: rgba(240, 248, 255, 0);
}
.navribbon {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    font-size: 50px;
    
}
.info1 {
    padding: 10px;
    padding-inline: 60px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    outline: solid black 5px;  
}
.info1:hover {background-color: #0075F2;}

.info2 {
    outline: solid black 5px;
    padding: 10px;
    padding-inline: 60px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}
.info2:hover:hover {background-color: #0075F2;}
.info3 {
    outline: solid black 5px;
    padding: 10px;
    padding-inline: 60px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}
.info3:hover {background-color: #0075F2;}


.content {
    display: flex;
    justify-content:end;
}

.C2 {  width: 30%;
    height: 20%;
    padding: 50px;
    margin: 20px;
    text-align: justify;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}
.secondrow {display: flex;
justify-content: space-around;
padding: 30px;}

.carcontent {outline: solid black 10px;
border: 20px;
padding: 10px;}

.intfb {display: flex;
flex-direction: column;
justify-content: space-around;}

.drive1 {display: flex;
    flex-direction: row;
    justify-content: space-around;

    
}
.d1 {  width: 50%;
    height: 20%;
    padding: 50px;
    padding-left: 15%;
    margin: 20px;
    text-align: justify;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;}
.pic1 {padding-right: 15%;
}
.img {border: solid #0075F2 10px;}


.drive2 {display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.d2 { 
    padding-left: 15%;
 
    text-align: justify;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;}
.d2list {  
    padding-left: 15%;
    text-align: justify;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;}